<ion-view>
    <ion-nav-title>
        Puntuaciones
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="stateNav()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content class="bg-app light" scroll="false" vertical layout>
        <div flex class="light-bg" style="color: #444; overflow-y: scroll">
            <uib-tabset active="activeJustified" justified="true" class="list-tabs-draft">
                <div class="item item-divider">Título de la noticia:</div>
                <label class="item item-input item-news">
                    <input type="text" placeholder="Titulo" ng-model="noticia.titulo">
                </label>
                <div class="item item-divider">Copete de la noticia:</div>
                <label class="item item-input item-news">
                    <input type="text" placeholder="Copete" ng-model="noticia.copete">
                </label>
                <div class="item item-divider">Descripción de la noticia :</div>
                <label class="item item-input text item-news">
                    <textarea placeholder="Descripción" rows="1" ng-model="noticia.descripcion" ng-required="true" name="description" class="ng-dirty ng-valid ng-valid-required" required="required" style="height: 52px;"></textarea>
                </label>
            </uib-tabset>
            <img id="imagenSeleccionada" ng-src="./img/photo.png" alt="" style="max-width:100%" height="200" />
            <input name="archivoImagen" id="archivoImagen" type="file" accept="image/*" style="display:none" capture="filesystem" fileread="noticia.foto">
        </div>
    </ion-content>
    <ion-footer-bar class="n-p n-m draft-footer" horizontal layout center center-justified>
        <div class="button-profile" horizontal layout center center-justified>
            <button type="button" ng-click="showPopup()" class="btn btn-info">Crear</button>
        </div>
    </ion-footer-bar>
</ion-view>
