<ion-view>
    <ion-nav-title>
        Agregar - Usuario
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="stateNav()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content class="bg-app light" scroll="false" vertical layout>
        <div class="header-draft" horizontal layout center>
            <div flex horizontal layout center center-justified class="padding bold" style="font-size: 20px">
                2016/05/23
            </div>
            <div>|</div>
            <div flex horizontal layout center center-justified class="padding bold" style="font-size: 20px">
                07:32
            </div>
        </div>
        <!--
        <div horizontal layout center style="padding: 10px 0">
            <div>
                Nuevo Partido
            </div>
        </div>
        -->
        <div flex class="light-bg" style="color: #444; overflow-y: scroll">
            <uib-tabset active="activeJustified" justified="true" class="list-tabs-draft">
                
                <div class="item item-divider">Seleccione el perfil :</div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        <i class="ion-ios-personadd-outline positive match-icon"></i>
                    </div>

                    <select>
                        <option>Administrador</option>
                        <option selected>Juez</option>
                    </select>
                </label>
                <div class="item item-divider">Nombres :</div>
                <label class="item item-input ">
                    <div class="input-label">
                        <i class="ion-ios-person positive match-icon"></i>
                    </div>
                    <input type="text" placeholder="Nombre">
                </label>
                <div class="item item-divider">Apellidos:</div>
                <label class="item item-input ">
                    <div class="input-label">
                        <i class="ion-ios-person-outline positive match-icon"></i>
                    </div>
                    <input type="text" placeholder="Apellidos">
                </label>
                <div class="item item-divider">Password:</div>
                <label class="item item-input ">
                    <input  type="password">
                </label>
                <div class="item item-divider">Confirmación password:</div>
                <label class="item item-input ">
                    <input   type="password">
                </label>
                <div class="item item-divider">Correo Electronico:</div>
                <label class="item item-input ">
                    <div class="input-label">
                        <i class="ion-at positive match-icon"></i>
                    </div>
                    <input type="text" placeholder="Correo">
                </label>
                <div class="item item-divider">Identificacion:</div>
                <label class="item item-input ">
                    <div class="input-label">
                        <i class="ion-card positive match-icon"></i>
                    </div>
                    <input type="text" placeholder="Identificacion">
                </label>
                <div class="item item-divider">Fecha de Nacimiento:</div>
                <div class="item item-icon-left ng-pristine ng-untouched ng-valid" ion-datetime-picker="" date="" monday-first="" ng-model="dateValue">
                    <i class="icon ion-ios-calendar-outline positive"></i>

                    <strong class="ng-binding">{{dateValue| date: "yyyy-MM-dd"}}</strong>
                </div>
                <div class="item item-divider">Celular:</div>
                <label class="item item-input ">
                    <div class="input-label">
                        <i class=" ion-android-phone-portrait positive match-icon"></i>
                    </div>
                    <input type="number"  placeholder="Celular">
                </label>
                <div class="item item-divider">Años de experiencia:</div>
                <label class="item item-input ">
                    <div class="input-label">
                        <i class="ion-ribbon-b positive match-icon"></i>
                    </div>
                    <input type="number"  placeholder="Años de experiencia">
                </label>
                <div class="item item-divider">Barrio:</div>
                <label class="item item-input ">
                    <div class="input-label">
                        <i class="ion-ios-home positive match-icon"></i>
                    </div>
                    <input type="text"  placeholder="Barrio">
                </label>
                <div class="item item-divider">Direccion:</div>
                <label class="item item-input ">
                    <div class="input-label">
                        <i class="ion-ios-home-outline positive match-icon"></i>
                    </div>
                    <input type="text" placeholder="Direccion">
                </label>
            </uib-tabset>
        </div>
    </ion-content>
    <ion-footer-bar class="n-p n-m draft-footer" horizontal layout center center-justified>
        <div class="button-profile" horizontal layout center center-justified>
            <button type="button" ng-click="showPopup()" class="btn btn-info">Crear Usuario</button>
        </div>
    </ion-footer-bar>
</ion-view>
