<ion-view>
  <ion-nav-title>
    Noticias
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="stateNav()">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content class="bg-app p-5">
    <div class="p-5" ng-repeat="noticia in noticias">
      <div class="list card n-m">

        <div class="item item-avatar">
          <img ng-src="./img/a2.jpg">
          <h2>{{noticia.titulo}}</h2>
          <p>{{noticia.copete}}</p>
        </div>

        <div class="item item-body n-p">
          <img class="full-image" ng-src="{{noticia.foto}}" ng-if="noticia.foto">

          <p class="padding n-m">
           {{noticia.descripcion}}
          </p>
        </div>

      </div>
    </div>
    <div class="button-profile-custome" horizontal layout center center-justified>
        <button type="button" ng-click="refresh()" class="btn btn-primary btn-lg  btn-lg-custome">Cargar más</button>
    </div>
  </ion-content>
</ion-view>
<a class="add-news" ng-click="goToAdd()" ng-show="Rol == 'Admin'"><i class="ion ion-plus"></i></a>
