<ion-view>
    <ion-nav-title>
      Información del Club
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="stateNav()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <form name="signinForm" novalidate="" ng-submit="signIn(signinForm)">
        <ion-content class="bg-app light" scroll="false" vertical layout>
            <div class="header-draft" horizontal layout center>
                <div flex horizontal layout center center-justified class="padding bold" style="font-size: 20px">
                    {{date | date:'yyyy-MM-dd'}}
                </div>
                <div>|</div>
                <div flex horizontal layout center center-justified class="padding bold" style="font-size: 20px">
                    {{timeString}}
                </div>
            </div>
            <!--
            <div horizontal layout center style="padding: 10px 0">
                <div>
                    Nuevo Partido
                </div>
            </div>
            -->
            <div flex class="light-bg" style="color: #444; overflow-y: scroll">
                <uib-tabset active="activeJustified" justified="true" class="list-tabs-draft">
                    
                    <div class="col-lg-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center">
                                {{club.nombres}}
                            </div>
                            <div class="panel-body">
                                <div class=" text-center">
                                    <img ng-src="{{club.logo}}" alt="" />
                                </div>
                                <p ng-bind-html="club.historia"></p>
                               
                            </div>
                            
                        </div>
                    </div>
                </uib-tabset>
            </div>
        </ion-content>
    </form>
        <ion-footer-bar class="n-p n-m draft-footer" horizontal layout center center-justified>
            <div class="button-profile" horizontal layout center center-justified>
                <button type="button" ng-click="goNext()" class="btn btn-info">Seleccionar</button>
            </div>
        </ion-footer-bar>
</ion-view>
