<ion-view>
  <ion-content class="bg-app" scroll="false">
      <a class=" nav-item nav-item-referee">
         <p class="great-family-first">Bienvenido</p>
          <p class="great-family-second">Juez</p>
      </a>
      <a class=" nav-item nav-item-cero">

      </a>
      <a class="nav-item nav-ref-width" vertical layout ui-sref="app.profile">
          <div flex horizontal layout center center-justified>
              <div class="content-nav-item" horizontal layout center>
                  <i class="ion ion-android-contact"></i>
              </div>
          </div>
          <div class="name-nav">
              Perfil
          </div>
      </a>
    <a class="nav-item nav-ref-width" vertical layout ui-sref="app.prev-whistle">
      <div flex horizontal layout center center-justified>
        <div class="content-nav-item" horizontal layout center >
          <i class="ion ion-flag"></i>
        </div>
      </div>
      <div class="name-nav">
        Pitar Partido
      </div>
    </a>
    <a class="nav-item nav-ref-width" vertical layout ui-sref="app.prev-rank">
      <div flex horizontal layout center center-justified>
        <div class="content-nav-item" horizontal layout center >
            <i class="fa fa-trophy" aria-hidden="true"></i>
        </div>
      </div>
      <div class="name-nav">
        Posiciones
      </div>
    </a>
  </ion-content>
</ion-view>
