<ion-view>
  <ion-content class="bg-app" scroll="false">
      <div class=" nav-item nav-item-admin">
         <p class="great-family-first">Bienvenido</p>
          <p class="great-family-second">Administrador</p>
      </div>
      <a class=" nav-item nav-item-cero">

      </a>
      <a class="nav-item " vertical layout ui-sref="app.feed">
          <div flex horizontal layout center center-justified>
              <div class="content-nav-item" horizontal layout center>
                  <i class="ion ion-ios-paper"></i>
              </div>
          </div>
          <div class="name-nav">
              Noticias
          </div>
      </a>
      <a class="nav-item " vertical layout ui-sref="app.match">
          <div flex horizontal layout center center-justified>
              <div class="content-nav-item" horizontal layout center>
                  <i class="ion-ios-americanfootball"></i>
              </div>
          </div>
          <div class="name-nav">
              Creación de partidos
          </div>
      </a>
      <a class="nav-item " vertical layout ui-sref="app.profile">
          <div flex horizontal layout center center-justified>
              <div class="content-nav-item" horizontal layout center>
                  <i class="ion-edit"></i>
              </div>
          </div>
          <div class="name-nav">
              Edición Partidos
          </div>
      </a>
    <a class="nav-item " vertical layout ui-sref="app.prev-whistle">
      <div flex horizontal layout center center-justified>
        <div class="content-nav-item" horizontal layout center >
          <i class="ion-person-add"></i>
        </div>
      </div>
      <div class="name-nav">
       Creación de usuarios
      </div>
    </a>
    <a class="nav-item " vertical layout ui-sref="app.prev-rank">
      <div flex horizontal layout center center-justified>
        <div class="content-nav-item" horizontal layout center >
            <i class="ion-ios-people" aria-hidden="true"></i>
        </div>
      </div>
      <div class="name-nav">
       Adición de Jugadores
      </div>
    </a>
    <a class="nav-item " vertical layout ng-click="goLogOut()">
        <div flex horizontal layout center center-justified>
            <div class="content-nav-item" horizontal layout center>
                <i class="ion-android-exit" aria-hidden="true"></i>
            </div>
        </div>
        <div class="name-nav">
            Salir
        </div>
    </a>
  </ion-content>
</ion-view>
