<ion-view>
  <ion-content class="bg-app" scroll="false">
    <a class="nav-item" vertical layout ui-sref="app.feed">
      <div flex horizontal layout center center-justified>
        <div class="content-nav-item" horizontal layout center >
          <i class="ion ion-ios-paper"></i>
          <span>3</span>
        </div>
      </div>
      <div class="name-nav">
        Noticias
      </div>
    </a>
    <a class="nav-item" vertical layout ui-sref="app.profile">
      <div flex horizontal layout center center-justified>
        <div class="content-nav-item" horizontal layout center >
          <i class="ion ion-android-contact"></i>
        </div>
      </div>
      <div class="name-nav">
        Perfil
      </div>
    </a>
    <a class="nav-item" vertical layout>
      <div flex horizontal layout center center-justified>
        <div class="content-nav-item" horizontal layout center >
          <i class="ion ion-ios-chatboxes-outline"></i>
          <span>23</span>
        </div>
      </div>
      <div class="name-nav">
        Social
      </div>
    </a>
    <a class="nav-item" vertical layout ui-sref="app.join">
      <div flex horizontal layout center center-justified>
        <div class="content-nav-item" horizontal layout center >
          <i class="ion ion-ios-people-outline"></i>
          <span>3</span>
        </div>
      </div>
      <div class="name-nav">
        Únete a nosotros
      </div>
    </a>
    <a class="nav-item" vertical layout ui-sref="app.draft">
      <div flex horizontal layout center center-justified>
        <div class="content-nav-item" horizontal layout center >
          <i class="ion ion-ios-mic-outline"></i>
        </div>
      </div>
      <div class="name-nav">
        Borrador
      </div>
    </a>
    <a class="nav-item" vertical layout ui-sref="app.match-one">
      <div flex horizontal layout center center-justified>
        <div class="content-nav-item" horizontal layout center >
            <i class="ion ion-ios-americanfootball-outline"></i>
        </div>
      </div>
      <div class="name-nav">
       Nuevo Partido
      </div>
    </a>
    <a class="nav-item" vertical layout ui-sref="app.score">
      <div flex horizontal layout center center-justified>
        <div class="content-nav-item" horizontal layout center >
            <i class="fa fa-certificate" aria-hidden="true"></i>
          <span>1</span>
        </div>
      </div>
      <div class="name-nav">
        Puntuaciones
      </div>
    </a>
    <a class="nav-item" vertical layout>
      <div flex horizontal layout center center-justified>
        <div class="content-nav-item" horizontal layout center >
            <i class="fa fa-trophy" aria-hidden="true"></i>
        </div>
      </div>
      <div class="name-nav">
        Posiciones
      </div>
    </a>
    <a class="nav-item" vertical layout>
      <div flex horizontal layout center center-justified>
        <div class="content-nav-item" horizontal layout center >
          <i class="ion ion-ios-search"></i>
        </div>
      </div>
      <div class="name-nav">
        Buscar
      </div>
    </a>
    <a class="nav-item" vertical layout>
      <div flex horizontal layout center center-justified>
        <div class="content-nav-item" horizontal layout center >
          <i class="ion ion-ios-gear-outline"></i>
        </div>
      </div>
      <div class="name-nav">
        Ajustes
      </div>
    </a>
  </ion-content>
</ion-view>
