<ion-view>
  <ion-nav-title>
    Cowboys
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="stateNav()">
    </button>
  </ion-nav-buttons>
  <ion-content class="bg-app light" scroll="false" vertical layout>
    <div flex>
      <div class="profile-img">
        <img ng-src="./img/a2.jpg" alt="" width="100" height="100"/>
      </div>

      <div class="text-center">
        <div style="font-size: 18px">{{nombres}}</div>
        <div><i class="ion ion-ios-location-outline"></i> {{direccion}}</div>
      </div>

        <div id="ningunPartido" class="text-center"  style="padding: 20px 25px; display:none">
            No has pitado ningún partido.
        </div>
        <div id="ultimoPartido" class="text-center" style="padding: 20px 25px; display:none">
            El resultado del último partido acá.
        </div>
        <div class="button-profile" horizontal layout center center-justified>
            <button ng-click="changePassword()" class="button button-light button-custome" horizontal layout center center-justified>
                <i class="ion-ios-locked"></i> Cambiar contraseña
            </button>
        </div>
    </div>


    <div class="list-social-profile">
      <div class="item-social-profile" vertical layout center center-justified>
        <div class="bold">{{experiencia}}</div>
        <div>Experiencia</div>
      </div>
      <div class="item-social-profile" vertical layout center center-justified>
        <div class="bold">{{edad}}</div>
        <div>Edad</div>
      </div>
      <div class="item-social-profile" vertical layout center center-justified>
        <div class="bold">{{partidos}}</div>
        <div>Partidos Pitados</div>
      </div>
      <div class="item-social-profile" vertical layout center center-justified>
        <div class="bold">{{email}}</div>
        <div>Correo</div>
      </div>
    </div>

  </ion-content>
</ion-view>
