<ion-view>
  <ion-nav-title>
    Cowboys
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="stateNav()">
    </button>
  </ion-nav-buttons>
  <ion-content class="bg-app light" scroll="false" vertical layout>
    <div flex>
      <div class="profile-img">
        <img id="perfilFoto" ng-src="{{juez.foto}}" alt="" width="100" height="100"/>
        <a class="edit-photo" ng-click="editarImagen()"><i class="ion-plus-round"></i></a>
        <input name="archivoPerfil" id="archivoPerfil"  type="file" accept="image/*" style="display:none" capture="filesystem">
      </div>
      <div class="text-center">
        <div style="font-size: 18px">{{juez.nombres}} {{juez.apellidos}}</div>
        <div><i class="ion ion-ios-location-outline"></i> {{juez.direccion}}</div>
      </div>

        <div id="ningunPartido" class="text-center"  style="padding: 20px 25px; display:none">
            No has pitado ningún partido.
        </div>
        <div id="ultimoPartido" class="text-center" style="padding: 20px 25px; display:none">
           {{juez.identificacion}}
        </div>
        <div class="button-profile" horizontal layout center center-justified>
            <button ng-click="changePassword()" class="button button-light button-custome" horizontal layout center center-justified>
                <i class="ion-ios-locked"></i> Cambiar contraseña
            </button>
        </div>
    </div>
    <div class="list-social-profile">
      <div class="item-social-profile" vertical layout center center-justified>
        <div class="bold">{{juez.fechaDeNacimiento}}</div>
        <div>Fecha de Nacimiento</div>
      </div>
      <div class="item-social-profile" vertical layout center center-justified>
        <div class="bold">{{juez.email}}</div>
        <div>Correo</div>
      </div>
    </div>

  </ion-content>
</ion-view>
