<ion-view>
  <ion-nav-title>
    Cowboys
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="stateNav()">
    </button>
    <span class="badge-nav blue-color">3</span>
  </ion-nav-buttons>
  <ion-content class="bg-app light" scroll="false" vertical layout>
    <div flex>
      <div class="profile-img">
        <img ng-src="./img/a2.jpg" alt="" width="100" height="100"/>
      </div>

      <div class="text-center">
        <div style="font-size: 18px">{{nombres}}</div>
        <div><i class="ion ion-ios-location-outline"></i> Dallas, TX</div>
      </div>

      <div class="button-profile" horizontal layout center center-justified>
        <button class="button button-light button-small" horizontal layout center center-justified>
          <i class="ion ion-ios-plus-empty"></i> Follow
        </button>
        <button class="button button-light button-small" horizontal layout center center-justified>
          <i class="ion ion-ios-email-outline"></i> Message
        </button>
      </div>

      <div class="text-center" style="padding: 20px 25px">
        It is a long established fact that a reader will be distracted by the readable content
      </div>
    </div>


    <div class="list-social-profile">
      <div class="item-social-profile" vertical layout center center-justified>
        <div class="bold">3k</div>
        <div>Followers</div>
      </div>
      <div class="item-social-profile" vertical layout center center-justified>
        <div class="bold">904</div>
        <div>Following</div>
      </div>
      <div class="item-social-profile" vertical layout center center-justified>
        <div class="bold">24</div>
        <div>Activity</div>
      </div>
      <div class="item-social-profile" vertical layout center center-justified>
        <div class="bold">255</div>
        <div>Photos</div>
      </div>
    </div>

  </ion-content>
</ion-view>
