<ion-view>
  <ion-nav-title>
    Posiciones
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="stateNav()">
    </button>
    <span class="badge-nav blue-color">3</span>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-americanfootball-outline" ng-click="stateFavorite()">
    </button>
  </ion-nav-buttons>
  <ion-content class="bg-app ">
      <div class="panel panel-default panel-rank panel-rank-margin">
          <div class="panel-heading panel-rank">
             Tabla de Posiciones 
          </div>
          <div class="table-responsive table-responsive-custome">
              <table class="table table-striped table-striped-two">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Equipo</th>
                          <th>Pts</th>
                          <th>PJ</th>
                          <th>PG</th>
                          <th>PE</th>
                          <th>PP</th>
                          <th>PPW</th>
                          <th>RF</th>
                          <th>RC</th>
                          <th>Dif</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="infoClub in infoClubes">
                          <td>{{$index +1}}</td>
                          <td>{{infoClub.nombreClub}}</td>
                          <td>{{infoClub.Pts}}</td>
                          <td>{{infoClub.PJ}}</td>
                          <td>{{infoClub.PG}}</td>
                          <td>{{infoClub.PE}}</td>
                          <td>{{infoClub.PJ - infoClub.PG - infoClub.PE}}</td>
                          <td>{{infoClub.PP}}</td>
                          <td>{{infoClub.PPW}}</td>
                          <td>{{infoClub.RF}}</td>
                          <td>{{infoClub.RC}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <!-- /.table-responsive -->
          <!-- /.panel-body -->
          <div class="content-score text-gray" ng-if="!item.isFinal">
              <div class="padding text-center">
                  Si esta en un dispositvo movil podra hacer scroll en la tabla para ver todas las puntuaciones.
              </div>
              
          </div>
      </div>

  </ion-content>
</ion-view>
