<ion-view>
  <ion-nav-title>
    Puntuaciones
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="stateNav()">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <button class="button button-icon button-clear " ng-click="stateFavorite()"><img src="./img/balon.png" /></button>
  </ion-nav-buttons>
  <ion-content class="bg-app p-5 light">
    <div class="p-5" ng-repeat="partido in partidos">
      <div class="card-score">
        <div class="header-score" horizontal layout>
          <div flex class="club-score" horizontal layout center ng-class="{active: partido.marcadorEquipo1 > partido.marcadorEquipo2}">
            <img ng-src="{{partido.logoEquipo1}}" alt="" width="40" height="40" style="padding: 5px"/>
            <div class="bold" flex>{{partido.nombreEquipo1}}</div>
            <div class="bold padding"> {{partido.marcadorEquipo1 <= 0| iif : "0" : partido.marcadorEquipo1}}</div>
          </div>
          <div flex class="club-score" horizontal layout center ng-class="{active: partido.marcadorEquipo1 < partido.marcadorEquipo2}">
            <div class="bold padding">{{partido.marcadorEquipo2 <= 0| iif : "0" : partido.marcadorEquipo2}}</div>
            <div class="bold" flex horizontal layout end-justified>{{partido.nombreEquipo2}}</div>
            <img ng-src="{{partido.logoEquipo2}}" alt="" width="40" height="40" style="padding: 5px"/>
          </div>
        </div>
        <div class="content-score text-gray" ng-if="!item.isFinal">
          <div class="padding text-center">
            {{partido.tiempoProgramado | date:'yyyy-MM-dd hh:mm a'}}
          </div>
        </div>
        <div class="content-score text-gray" ng-if="item.isFinal">
          <div class="padding text-center">
            Final
          </div>

        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
