<ion-view>

  <ion-content class="bg-app-inicio light" scroll="false" vertical layout>
    <div flex>
      <div class="login-img">
        <img ng-src="./img/a2.jpg" alt="" width="100" height="100"/>
      </div>

      <div class="text-center ">
        <div style="font-size: 18px">La mejor App de Rugby</div>

      </div>
      <div class="buttons-area">
        <div class="button-profile-custome" horizontal layout center center-justified>
          <input class="form-control btn-lg btn-lg-custome" placeholder="Usuario">
        </div>
        <div class="button-profile-custome" horizontal layout center center-justified>
          <input class="form-control  btn-lg btn-lg-custome" placeholder="Contraseña">
        </div>
        <div class="button-profile-custome" horizontal layout center center-justified>
          <button type="button" ng-click="goNav()" class="btn btn-info btn-lg  btn-lg-custome">Entrar!</button>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
