<ion-view>
    <ion-nav-title>
        Feed
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="stateNav()"></button>
        <span class="badge-nav blue-color">3</span>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-americanfootball-outline" ng-click="stateFavorite()"></button>
    </ion-nav-buttons>
    <ion-content class="bg-app light" scroll="false" vertical layout>
        <div class="header-draft" horizontal layout center>
            <div flex horizontal layout center center-justified class="padding bold" style="font-size: 20px">
                2016/05/23
            </div>
            <div>|</div>
            <div flex horizontal layout center center-justified class="padding bold" style="font-size: 20px">
                07:32
            </div>
        </div>
        <div horizontal layout center center-justified style="padding: 10px 0">
            <div class="draft-club-list text-center">
                <img ng-src="./img/c1.jpg" alt="" />
                <span>0</span>
            </div>
            <div>VS</div>
            <div class="draft-club-list text-center">
                <img ng-src="./img/c11.jpg" alt="" />
                <span>0</span>
            </div>
        </div>
        <!--
        <div horizontal layout center style="padding: 10px 0">
            <div>
                Nuevo Partido
            </div>
        </div>
        -->
        <div flex class="light-bg" style="color: #444; overflow-y: scroll">
            <uib-tabset active="activeJustified" justified="true" class="list-tabs-draft">
                <uib-tab index="0" heading="Eventos">
                    <div class="panel-body-match-cutome">
                        <div class="form-group col-xs-6" horizontal layout center center-justified>
                            <label center center-justified for="disabledSelect">Alianza</label>
                        </div>
                        <div class="form-group col-xs-6 " horizontal layout center center-justified>
                            <label center center-justified for="disabledSelect">Azules</label>
                        </div>
                        <div class="form-group col-xs-6 form-group-left-match">
                            <div class="form-group form-group-left-match-select">
                                <label>Seleccione jugador:</label>
                            </div>

                            <div class="form-group form-group-left-match-select">
                                <select class="form-control ">
                                    <option>jugador 1</option>
                                    <option>jugador 2</option>
                                    <option>jugador 3</option>
                                    <option>jugador 4</option>
                                    <option>jugador 5</option>
                                </select>
                            </div>
                            <div class="form-group form-group-left-match-select">
                                <label>Selecciones el evento</label>
                            </div>
                            <div class="form-group">
                                <ul class="nav nav-second-level collapse in" aria-expanded="true">
                                    <li class="radio radio-li li-margin-custom-left">

                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">In (entrada)
                                        </label>

                                    </li>
                                    <li class="radio radio-li li-margin-custom-left">

                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Out (salida)
                                        </label>

                                    </li>
                                    <li class="radio radio-li li-margin-custom-left">

                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">El T(try)
                                        </label>

                                    </li>
                                    <li class="radio radio-li li-margin-custom-left">

                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">C(conversión)
                                        </label>

                                    </li>
                                    <li class="radio radio-li li-margin-custom-left">

                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">P(penal)
                                        </label>

                                    </li>
                                    <li class="radio radio-li li-margin-custom-left">

                                        <label>
                                            <ionic-numberpicker input-obj="numberPickerObject">

                                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Gc (gol de campo)

                                            </ionic-numberpicker>

                                        </label>

                                    </li>
                                </ul>
                            </div>
                            <div class="form-group form-group-left-match-select">
                                <label>Observaciones</label>

                                <textarea class="form-control " rows="3"></textarea>
                                <div class="button-profile col-xs-9" horizontal layout center center-justified>
                                    <button type="button" class="btn btn-primary col-xs-9">Guardar</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6 form-group-right-match">
                            <div class="form-group ">
                                <label>Seleccione jugador:</label>
                            </div>
                            <div class="form-group form-group-right-match-select">
                                <select class="form-control ">
                                    <option>jugador 1</option>
                                    <option>jugador 2</option>
                                    <option>jugador 3</option>
                                    <option>jugador 4</option>
                                    <option>jugador 5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Selecciones el evento</label>
                            </div>
                            <div class="form-group">

                                <ul class="nav nav-second-level collapse in" aria-expanded="true">
                                    <li class="radio radio-li">

                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">In (entrada)
                                        </label>

                                    </li>
                                    <li class="radio radio-li">

                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Out (salida)
                                        </label>

                                    </li>
                                    <li class="radio radio-li">

                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">El T(try)
                                        </label>

                                    </li>
                                    <li class="radio radio-li">

                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">C(conversión)
                                        </label>

                                    </li>
                                    <li class="radio radio-li">

                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">P(penal)
                                        </label>

                                    </li>
                                    <li class="radio radio-li">

                                        <label>
                                            <ionic-numberpicker input-obj="numberPickerObject">

                                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Gc (gol de campo)

                                            </ionic-numberpicker>

                                        </label>

                                    </li>
                                </ul>
                            </div>
                            <div class="form-group form-group-right-match-select">
                                <label>Observaciones</label>

                                <textarea class="form-control " rows="3"></textarea>
                                <div class="button-profile col-xs-9" horizontal layout center center-justified>
                                    <button type="button" class="btn btn-primary col-xs-9">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Faltas">
                    <div class="panel-body-match-cutome">
                        <div class="form-group col-xs-6" horizontal layout center center-justified>
                            <label center center-justified for="disabledSelect">Alianza</label>
                        </div>
                        <div class="form-group col-xs-6 " horizontal layout center center-justified>
                            <label center center-justified for="disabledSelect">Azules</label>
                        </div>
                        <div class="form-group col-xs-6">
                            <div class="form-group">
                                <label for="disabledSelect">Seleccione jugador:</label>
                                <div class="form-group ">
                                    <select class="form-control">
                                        <option>jugador 1</option>
                                        <option>jugador 2</option>
                                        <option>jugador 3</option>
                                        <option>jugador 4</option>
                                        <option>jugador 5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group  ">
                                <fieldset disabled="">
                                    <input type="text" class="form-control" id="disabledInput" placeholder="Juan Pablo Vega Campuzano">
                                </fieldset>
                            </div>
                            <div class="form-group" horizontal layout>
                                <label class="col-xs-12">Selecciones tipo de Falta</label>
                            </div>
                            <div class="form-group" horizontal layout center center-justified>
                                <p class="col-xs-12"> Tarjeta Roja</p>
                                <a class="btn btn-social-icon btn-pinterest"><i class="fa fa-clone" aria-hidden="true"></i></a>
                            </div>
                            <div class="form-group" horizontal layout center center-justified>
                                <p class="col-xs-12"> Tarjeta Amarilla</p>
                                <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-clone" aria-hidden="true"></i></a>
                            </div>
                            <div class="form-group" horizontal layout center center-justified>
                                <p class="col-xs-12"> Tarjeta Ténica</p>
                                <a class="btn btn-social-icon btn-github "><i class="fa fa-clone" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <div class="form-group">
                                <label for="disabledSelect">Seleccione jugador:</label>
                                <div class="form-group ">
                                    <select class="form-control">
                                        <option>jugador 1</option>
                                        <option>jugador 2</option>
                                        <option>jugador 3</option>
                                        <option>jugador 4</option>
                                        <option>jugador 5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group  ">
                                <fieldset disabled="">
                                    <input type="text" class="form-control" id="disabledInput" placeholder="Nicolas Campuzano Angulo">
                                </fieldset>
                            </div>
                            <div class="form-group" horizontal layout>
                                <label class="col-xs-12">Selecciones tipo de Falta</label>
                            </div>
                            <div class="form-group" horizontal layout center center-justified>
                                <p class="col-xs-12"> Tarjeta Roja</p>
                                <a class="btn btn-social-icon btn-pinterest"><i class="fa fa-clone" aria-hidden="true"></i></a>
                            </div>
                            <div class="form-group" horizontal layout center center-justified>
                                <p class="col-xs-12"> Tarjeta Amarilla</p>
                                <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-clone" aria-hidden="true"></i></a>
                            </div>
                            <div class="form-group" horizontal layout center center-justified>
                                <p class="col-xs-12"> Tarjeta Ténica</p>
                                <a class="btn btn-social-icon btn-github "><i class="fa fa-clone" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Historial">
                    <div class="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Sanciones pasadas del equipo
                            </div>
                            <!-- /.panel-heading -->

                            <div class="table-responsive table-responsive-custome">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombres</th>
                                            <th>No</th>
                                            <th>TT</th>
                                            <th>TR</th>
                                            <th>TA</th>
                                            <th>LES</th>
                                            <th>INF</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Maria Pineda</td>
                                            <td>9</td>
                                            <td></td>
                                            <td>X</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Andrés Cubillos</td>
                                            <td>11</td>
                                            <td>X</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            <!-- /.panel-body -->
                        </div>
                    </div>
                    <div class="page-wrapper-custome-top">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Sanciones actuales del equipo
                            </div>
                            <!-- /.panel-heading -->

                            <div class="table-responsive table-responsive-custome">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombres</th>
                                            <th>No</th>
                                            <th>TT</th>
                                            <th>TR</th>
                                            <th>TA</th>
                                            <th>LES</th>
                                            <th>INF</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Maria Pineda</td>
                                            <td>9</td>
                                            <td></td>
                                            <td>X</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Andrés Cubillos</td>
                                            <td>11</td>
                                            <td>X</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            <!-- /.panel-body -->
                        </div>
                    </div>
                    <div class="page-wrapper-custome">
                        <div class="form-group">
                            <label>Observaciones</label>
                        </div>
                        <fieldset disabled="">
                            <textarea class="form-control" id="disabledInput" rows="3">Ninguna</textarea>
                        </fieldset>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>


    </ion-content>
    <ion-footer-bar class="n-p n-m draft-footer" horizontal layout center center-justified>
        <div class="button-profile col-xs-9" horizontal layout center center-justified>
            <fieldset disabled="">
                <button type="button" ng-click="goBack()" class="btn btn-primary col-xs-9">Iniciar</button>
            </fieldset>
        </div>
        <input class="form-control col-xs-3 " id="disabledInput" type="text" placeholder="00:00" disabled="">
    </ion-footer-bar>
</ion-view>
