<ion-view>
    <ion-nav-title>
        Pitar Partido
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="stateNav()"></button>
    </ion-nav-buttons>
    <ion-content class="bg-app light" scroll="false" vertical layout>
        <div class="header-draft" horizontal layout center>
            <div flex horizontal layout center center-justified class="padding bold" style="font-size: 20px">
                {{date | date:'yyyy-MM-dd'}}
            </div>
            <div>|</div>
            <div flex horizontal layout center center-justified class="padding bold" style="font-size: 20px">
               {{timeString}}
            </div>
        </div>
        <div horizontal layout center center-justified style="padding: 10px 0">
            <span class="match-team-icon-left">{{scoreTeam1}}</span>
            <div class="draft-club-list text-center">
                <img ng-src="{{logoClub1}}" alt="" />
               
            </div>
            <div>VS</div>
            <div class="draft-club-list text-center">
                <img ng-src="{{logoClub2}}" alt="" />
            </div>
            <span class="match-team-icon-rigth">{{scoreTeam2}}</span>
        </div>
        <!--
        <div horizontal layout center style="padding: 10px 0">
            <div>
                Nuevo Partido
            </div>
        </div>
        -->
        <div flex class="light-bg" style="color: #444; overflow-y: scroll">
            <uib-tabset active="activeJustified" justified="true" class="list-tabs-draft">
                <uib-tab index="0" heading="Eventos">
                        <div class="panel-body-match-cutome">
                          

                            <div class="form-group col-xs-6" horizontal layout center center-justified>
                                <label class="text-center-title" center center-justified for="disabledSelect">{{nombreEquipo1}}</label>
                            </div>
                            <br />
                            <div class="form-group col-xs-6 " horizontal layout center center-justified>
                                <label  class="text-center-title" center center-justified for="disabledSelect">{{nombreEquipo2}}</label>
                            </div>
                            <br />
                            <div class="form-group col-xs-6 form-group-left-match">
                                <div class="form-group form-group-left-match-select">
                                    <label>Selecciones el evento</label>
                                </div>
                                <div class="form-group">
                                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                                        <div class="" ng-repeat='item in menuItems'>
                                            <li class="radio radio-li li-margin-custom-left">
                                                <label ng-class="{'active-events-first' : activeMenu1 === item}" ng-click="setActive1(item,1)" class="background-label-left">
                                                    {{ item }}
                                                </label>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group col-xs-6 form-group-right-match">
                                <div class="form-group">
                                    <label>Selecciones el evento</label>
                                </div>
                                <div class="form-group">
                                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                                        <div class="" ng-repeat='item in menuItems'>
                                            <li class="radio radio-li li-margin-custom-left">
                                                <label ng-class="{'active-events-second' : activeMenu2 === item}" ng-click="setActive2(item,2)" class="background-label-left">
                                                    {{ item }}
                                                </label>
                                            </li>
                                        </div>
                                    </ul>
                                   
                                </div>
                            </div>
                        </div>
</uib-tab>
                <uib-tab index="1" heading="Faltas">
                    <div class="panel-body-match-cutome">
                        <div class="form-group col-xs-6" horizontal layout center center-justified>
                            <label class="text-center-title" center center-justified for="disabledSelect">{{nombreEquipo1}}</label>
                        </div>
                        <br />
                        <div class="form-group col-xs-6 " horizontal layout center center-justified>
                            <label class="text-center-title" center center-justified for="disabledSelect">{{nombreEquipo2}}</label>
                        </div>
                        <br />
                        <div class="form-group col-xs-6">
                            <div class="form-group" horizontal layout>
                                <label class="col-xs-12">Selecciones tipo de Falta</label>
                            </div>
                            <div class="form-group" horizontal layout center center-justified>
                                <p class="col-xs-12"> Tarjeta Roja</p>
                                <a class="btn btn-social-icon btn-pinterest" ng-click="showEventTJ(1,1)"><i class="fa fa-clone" aria-hidden="true"></i></a>
                            </div>
                            <div class="form-group" horizontal layout center center-justified>
                                <p class="col-xs-12"> Tarjeta Amarilla</p>
                                <a class="btn btn-social-icon btn-google-plus" ng-click="showEventTJ(1,2)"><i class="fa fa-clone" aria-hidden="true"></i></a>
                            </div>
                            <div class="form-group" horizontal layout center center-justified>
                                <p class="col-xs-12"> Tarjeta Técnica</p>
                                <a class="btn btn-social-icon btn-github " ng-click="showEventTJ(1,3)"><i class="fa fa-clone" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <div class="form-group" horizontal layout>
                                <label class="col-xs-12">Selecciones tipo de Falta</label>
                            </div>
                            <div class="form-group" horizontal layout center center-justified>
                                <p class="col-xs-12"> Tarjeta Roja</p>
                                <a class="btn btn-social-icon btn-pinterest" ng-click="showEventTJ(2,1)"><i class="fa fa-clone" aria-hidden="true"></i></a>
                            </div>
                            <div class="form-group" horizontal layout center center-justified>
                                <p class="col-xs-12"> Tarjeta Amarilla</p>
                                <a class="btn btn-social-icon btn-google-plus" ng-click="showEventTJ(2,2)"><i class="fa fa-clone" aria-hidden="true"></i></a>
                            </div>
                            <div class="form-group" horizontal layout center center-justified>
                                <p class="col-xs-12"> Tarjeta Técnica</p>
                                <a class="btn btn-social-icon btn-github " ng-click="showEventTJ(2,3)"><i class="fa fa-clone" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Historial">
                    <ion-list>
                        <div >
                            <ion-item class="item-stable"
                                      ng-click="toggleGroup('team1',1)"
                                      ng-class="{active: isGroupShown('team1',1)}">
                                <i class="icon" ng-class="isGroupShown('team1',1) ? 'ion-minus' : 'ion-plus'"></i>
                                &nbsp;
                              {{nombreEquipo1}}
                            </ion-item>
                            <ion-item class="item-accordion item-accordion-pad" ng-show="isGroupShown('team1',1)">
                                <ion-item class="item-stable"
                                          ng-click="toggleGroup('historial-team-one',2)"
                                          ng-class="{active: isGroupShown('historial-team-one',2)}">
                                    <i class="icon icon-second-level" ng-class="isGroupShown('historial-team-one',2) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
                                    &nbsp;
                                   Historial eventos  {{nombreEquipo1}}
                                </ion-item>
                                <ion-item class="item-accordion item-accordion-pad" ng-show="isGroupShown('historial-team-one',2)">
                                    <div class="">
                                        <div class="panel panel-default">
                                            <div class="table-responsive table-responsive-custome">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombres</th>
                                                            <th>IN</th>
                                                            <th>OUT</th>
                                                            <th>TRY</th>
                                                            <th>C</th>
                                                            <th>P</th>
                                                            <th>GC</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="(key ,test) in arrayTest">
                                                        <tr><td>{{test[1].nombreCompleto}}</td><td ng-repeat="t1  in test">{{t1.value}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </ion-item>
                                <ion-item class="item-stable"
                                          ng-click="toggleGroup('past-fault-team-one',2)"
                                          ng-class="{active: isGroupShown('past-fault-team-one',2)}">
                                    <i class="icon icon-second-level" ng-class="isGroupShown('past-fault-team-one',2) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
                                    &nbsp;
                                   Faltas Pasadas
                                </ion-item>
                                <ion-item class="item-accordion item-accordion-pad" ng-show="isGroupShown('past-fault-team-one',2)">
                                    <div class="">
                                        <div class="panel panel-default">
                                            <div class="table-responsive table-responsive-custome">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombres</th>
                                                            <th>No</th>
                                                            <th>TR</th>
                                                            <th>TA</th>
                                                            <th>TT</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="(key ,jugador1Amo) in team1">
                                                        <tr>
                                                            <td>{{jugador1Amo.nombres}}&nbsp;{{jugador1Amo.apellidos}}</td>
                                                            <td>{{jugador1Amo.numCamiseta}}</td>
                                                            <td ng-repeat="amonesta1  in jugador1Amo.amonestaciones track by $index">
                                                                  {{amonesta1}}
                                                       
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </ion-item>
                                <ion-item class="item-stable"
                                          ng-click="toggleGroup('current-fault-team-one',2)"
                                          ng-class="{active: isGroupShown('current-fault-team-one',2)}">
                                    <i class="icon icon-second-level" ng-class="isGroupShown('current-fault-team-one',2) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
                                    &nbsp;
                                  Faltas Actuales
                                </ion-item>
                                <ion-item class="item-accordion item-accordion-pad" ng-show="isGroupShown('current-fault-team-one',2)">
                                    <div class="">
                                        <div class="panel panel-default">
                                            <div class="table-responsive table-responsive-custome">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombres</th>
                                                            <th>No</th>
                                                            <th>TR</th>
                                                            <th>TA</th>
                                                            <th>TT</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="(key ,test) in amonestacionesClub1">
                                                        <tr>
                                                            <td ng-repeat="t1  in test">{{t1}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </ion-item>
                            </ion-item>
                            <ion-item class="item-stable" ng-click="toggleGroup('team2',1)" ng-class="{active: isGroupShown(1)}">
                                <i class="icon" ng-class="isGroupShown('team2',1) ? 'ion-minus' : 'ion-plus'"></i>
                                &nbsp;
                               {{nombreEquipo2}}
                            </ion-item>
                            <ion-item class="item-accordion item-accordion-pad" ng-show="isGroupShown('team2',1)">
                                <ion-item class="item-stable"
                                          ng-click="toggleGroup('historial-team-two',2)"
                                          ng-class="{active: isGroupShown('historial-team-two',2)}">
                                    <i class="icon icon-second-level" ng-class="isGroupShown('historial-team-two',2) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
                                    &nbsp;
                                    Historial eventos  {{nombreEquipo2}}
                                </ion-item>
                                <ion-item class="item-accordion item-accordion-pad" ng-show="isGroupShown('historial-team-two',2)">
                                    <div class="">
                                        <div class="panel panel-default">
                                            <div class="table-responsive table-responsive-custome">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombres</th>
                                                            <th>IN</th>
                                                            <th>OUT</th>
                                                            <th>TRY</th>
                                                            <th>C</th>
                                                            <th>P</th>
                                                            <th>GC</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="(key ,test) in arrayTest2">
                                                        <tr>
                                                            <td>{{test[1].nombreCompleto}}</td>
                                                            <td ng-repeat="t1  in test">{{t1.value}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </ion-item>
                                <ion-item class="item-stable"
                                          ng-click="toggleGroup('past-fault-team-two',2)"
                                          ng-class="{active: isGroupShown('past-fault-team-two',2)}">
                                    <i class="icon icon-second-level" ng-class="isGroupShown('past-fault-team-two',2) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
                                    &nbsp;
                                    Faltas Pasadas
                                </ion-item>
                                <ion-item class="item-accordion item-accordion-pad" ng-show="isGroupShown('past-fault-team-two',2)">
                                    <div class="">
                                        <div class="panel panel-default">
                                            <div class="table-responsive table-responsive-custome">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombres</th>
                                                            <th>No</th>
                                                            <th>TR</th>
                                                            <th>TA</th>
                                                            <th>TT</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="(key ,jugador2Amo) in team2">
                                                        <tr>
                                                            <td>{{jugador2Amo.nombres}}&nbsp;{{jugador2Amo.apellidos}}</td>
                                                            <td>{{jugador2Amo.numCamiseta}}</td>
                                                            <td ng-repeat="amonesta2  in jugador2Amo.amonestaciones track by $index">

                                                               
                                                          {{amonesta2}}
                                                            
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </ion-item>
                                <ion-item class="item-stable"
                                          ng-click="toggleGroup('current-fault-team-two',2)"
                                          ng-class="{active: isGroupShown('current-fault-team-two',2)}">
                                    <i class="icon icon-second-level" ng-class="isGroupShown('current-fault-team-two',2) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
                                    &nbsp;
                                    Faltas Actuales
                                </ion-item>
                                <ion-item class="item-accordion item-accordion-pad" ng-show="isGroupShown('current-fault-team-two',2)">
                                    <div class="">
                                        <div class="panel panel-default">
                                            <div class="table-responsive table-responsive-custome">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombres</th>
                                                            <th>No</th>
                                                            <th>TR</th>
                                                            <th>TA</th>
                                                            <th>TT</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="(key ,test) in amonestacionesClub2">
                                                        <tr>
                                                            <td ng-repeat="t1  in test">{{t1}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </ion-item>
                            </ion-item>
                        </div>
                    </ion-list>
                    <div class="button-end-align">
                        <button type="button" class="btn btn-danger" ng-click="Finalizar()">Finalizar partido</button>
                    </div>
                 
                </uib-tab>
            </uib-tabset>
        </div>
    </ion-content>
    <ion-footer-bar class="n-p n-m draft-footer" horizontal layout center center-justified>
        <div class="button-profile col-xs-6" horizontal layout center center-justified>  
            <button ng-click="changeMethod()" class="{{timerClass}}">{{timerText}}</button>
            <button  id="stopTimer" ng-click="stopTimer()" class="btn btn-danger btn-hidden">Detener</button>
        </div>
        <div class="button-profile col-xs-6 timer-font" horizontal layout center center-justified>
           <timer autostart="false" countdown="4800" max-time-unit="'minute'" interval="1000"> {{mminutes}} : {{sseconds}}</timer>
        </div>
        
    </ion-footer-bar>
</ion-view>
